page-home {
    .content {
        height: 100%;
        width: 100%;

        #map {
            height: 100%;
            width: 100%;
        }

        #menu {
            position: absolute;
            bottom: 10%;
            right: 5%;
            font-size: 2em;
            transform: none;
            transition: transform 0.2s linear;

            & ion-fab {
                position: absolute;
            }
        }
    }
}
